/* Google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* root-Area & Utilies  */

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background: #FFFFFF;
    width: 857px;
    padding: 30px;
    margin-top: 40px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 26px;
}

/* Top players style*/

.top-players{
    margin-bottom: 25px;
}
.top-player-title{
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
}
.Player-name{
    margin-left: 16px;
    margin-bottom: 25px;
}

/* Top Blogs style  */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
    column-gap: 13px;
}
.blog{
    display: flex;
}
.blog .thumbnail img {
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color:#562EFF;
}

/* Latest courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 41px;

}

.course .img-thumbnail img {
    width: 224px;
height: 104px;
}
.course-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.course-rating .filled{
    color:#FFC014;
}
.course-rating .empty{
    color: #AEAEAE;
}

/*------------- 
  Media Queries
  ------------- */

  /* Moblie Screen  */
  @media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
      .players, .blogs , .courses{
          
          grid-template-columns: repeat(1, 1fr);
      }
      .player{
          flex-direction: column;
          align-items: center;
      }

  }

  /* Tablet Screen  */

  @media only screen and (min-width:688px) and (max-width :992px) {
      .container{
          width: 100%;
      }
      .players , .courses{
          grid-template-columns: repeat(2,1fr);
      }
      .blogs{
          grid-template-columns: repeat(1 , 1fr);
      }
  }